streamlit
nltk
pandas
openpyxl
pdfminer.six
streamlit-tags
Pillow
pymysql
plotly
yt-dlp
fpdf2
python-docx
google-generativeai
pytesseract
pdf2image
bcrypt
gradio
opencv-python
pdfplumber
tokenizers
transformers
