{% extends "user/user_base.html" %}

{% block title %}Mock Test{% endblock %}

{% block user_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Mock Test: {{ topic }}</h1>
</div>

<form method="POST" action="{{ url_for('user.submit_test', test_id=test.id) }}">
    {% for question in test.questions.questions %}
    <div class="card mb-4">
        <div class="card-header">
            <strong>Question {{ loop.index }}</strong>
        </div>
        <div class="card-body">
            <p class="card-text">{{ question.question }}</p>
            <div class="list-group">
                {% for option in question.options %}
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="question-{{ loop.parent.loop.index0 }}" value="{{ option }}" required>
                    {{ option }}
                </label>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="d-grid">
        <button type="submit" class="btn btn-success btn-lg">Submit Test</button>
    </div>
</form>
{% endblock %}
